@media (min-width: 0px) {
  .form-content {
    text-align: center;
    padding: 2%;
    color: #be9e32;

    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    border: 2px solid #be9e32;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  button {
    background-color: #be9e32;
    border: none;
    width: 6rem;
    height: 1.5rem;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    font-size: 11px;
  }
}

@media (min-width: 300px) {
  .form-content {
    text-align: center;
    padding: 2%;
    color: #be9e32;

    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    border: 2px solid #be9e32;
    margin-right: 5px;
    margin-left: 5px;
  }

  button {
    background-color: #be9e32;
    border: none;
    width: 6rem;
    height: 1.5rem;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    font-size: 15px;
  }
}

@media (min-width: 760px) {
  .form-content {
    text-align: center;
    padding: 2%;
    color: #be9e32;

    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    border: 2px solid #be9e32;
    margin-right: 5px;
    margin-left: 5px;
  }

  button {
    background-color: #be9e32;
    border: none;
    width: 6rem;
    height: 1.5rem;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    font-size: 15px;
  }
}

@media (min-width: 900px) {
  .form-content {
    text-align: center;
    padding: 2%;
    color: #be9e32;

    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    border: 2px solid #be9e32;
    margin-right: 5px;
    margin-left: 5px;
  }

  button {
    background-color: #be9e32;
    border: none;
    width: 6rem;
    height: 1.5rem;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    font-size: 15px;
  }
}
